<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    <!--    <encoder>-->
    <!--      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg -  %kvp - %mdc%n</pattern>-->
    <!--    </encoder>-->
  </appender>

  <root level="info">
    <appender-ref ref="CONSOLE" />
  </root>
</configuration>
