<configuration>

  <!--  This reset is needed to let jul debug pass through, avoid performance penalty-->
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

<!--  conversionRule to register CustomFieldConverter-->
  <conversionRule conversionWord="converterName"
      converterClass="org.example.CustomFieldConverter" />
<appender name="FILE" class="ch.qos.logback.core.FileAppender">
  <file>my-app.log</file>
  <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
<!--  use %converterName keyword  -->
    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %converterName%n</pattern>
  </encoder>

</appender>
<root level="debug">
  <appender-ref ref="FILE" />
</root>
</configuration>
